---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Portfolio Bryan Menoux">
  <Hero />
  <Profile />
  <h2>Salut c'est un test pour voir si tout se réécris réellement</h2>
</Layout>

