---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import SecProjets from "../components/SecProjets.astro";
---

<Layout title="Portfolio Bryan Menoux">
  <section class="flex flex-col gap-16 md:gap-32 lg:gap-48">
    <Hero />
    <Profile />
    <Skills />
    <SecProjets />
  </section>
</Layout>
