---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import SecProjets from "../components/SecProjets.astro";
---

<Layout title="Portfolio Bryan Menoux">
  <Hero />
  <Profile />
  <Skills />
  <SecProjets />
  <div class="min-h-screen w-full bg-red-100"></div>
</Layout>
