---
import arrowDown from "../assets/arrow-down.svg";

interface Props {
  projet: any;
}

const { projet } = Astro.props;
---

<div
  class="w-full h-screen flex items-center justify-center relative"
  id="hero"
>
  <div
    class="w-[95dvw] h-[95dvh] rounded-4xl flex flex-col items-center justify-center relative overflow-hidden"
    style="background: radial-gradient(circle at center -80%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(80, 50, 200, 0.4) 70%, rgba(118, 95, 243, 0.6) 75%, rgba(118, 95, 243, 0.8) 83%, rgba(118, 95, 243, 1) 100%)"
  >
    <div class="relative z-10 flex flex-col items-center justify-center gap-8">
      {
        projet.logo && (
          <div class="w-[65dvw] h-[65dvw] md:w-[40dvw] md:h-[40dvw] lg:w-[25dvw] lg:h-[25dvw] flex items-center justify-center">
            <img
              src={projet.logo}
              alt={projet.titre}
              loading="lazy"
              class="w-full h-full object-contain object-center"
            />
          </div>
        )
      }
      <h1 class="h1">
        {projet.titre}
      </h1>
    </div>
  </div>
  <a
    href="#concept"
    class="absolute left-1/2 -translate-x-1/2 z-20"
    style="bottom: 5%"
  >
    <img
      src={arrowDown.src}
      alt="arrow down"
      loading="lazy"
      class="w-10 h-10 animate-bounce"
    />
  </a>
</div>
