---
import ParticleBlob from "../components/ParticleBlob.jsx";
import TypingEffect from "../components/TypingEffect.astro";
import arrowDown from "../assets/arrow-down.svg";
import Video from "../assets/sphere.webm";
---

<div class="w-full h-screen flex items-center justify-center" id="accueil">
  <div
    class="w-[95dvw] h-[95dvh] rounded-4xl flex items-center justify-center relative overflow-hidden"
    style="background: radial-gradient(circle at center -80%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(80, 50, 200, 0.4) 70%, rgba(118, 95, 243, 0.6) 75%, rgba(118, 95, 243, 0.8) 83%, rgba(118, 95, 243, 1) 100%)"
  >
    <div class="absolute inset-0 w-full h-full hidden lg:block">
      <ParticleBlob client:load />
    </div>
    <video
      class="absolute inset-0 w-full h-full object-contain scale-100 md:scale-150 lg:hidden"
      autoplay
      muted
      loop
      playsinline
    >
      <source src={Video} type="video/webm" />
    </video>
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10"
    >
      <TypingEffect />
    </div>

    <a
      href="#a-propos"
      class="absolute left-1/2 -translate-x-1/2 z-20 pb-4 md:pb-6"
      style="bottom: 2%"
    >
      <img
        src={arrowDown.src}
        alt="arrow down"
        loading="lazy"
        class="w-10 h-10"
      />
    </a>
  </div>
</div>
