---
import SecProjetsComposant from "./SecProjets.jsx";
import grilles from "../assets/grilles.webp";
import { getFavoriProjets } from "../lib/pocketbase.mjs";

const projects: any[] = await getFavoriProjets();

const gridleImageUrl = grilles.src;
---

<section class="w-full h-fit flex flex-col items-center relative" id="projets">
  <SecProjetsComposant
    client:load
    projects={projects}
    gridBackground={grilles.src}
  />
</section>
