---

---

<!-- DESKTOP TIMELINE (Horizontal) -->
<section
  id="timeline"
  class="hidden lg:block w-full py-16 md:py-24 overflow-x-hidden"
>
  <div
    class="w-full max-w-7xl mx-auto px-4"
    style="--sq:16px; --border-w:2px; --bar-h:77px;"
  >
    <!-- Main container with three stacked blocks with negative gap -->
    <div class="flex flex-col" style="gap: calc(-1 * (var(--bar-h)));">
      <!-- BLOCK 1: Two dates with bars and squares (Left and Right) -->
      <div class="w-full flex justify-between gap-16">
        <!-- Pair A - Left -->
        <div class="flex-1 flex flex-col items-center">
          <div
            class="relative inline-block px-5 py-3 text-center timeline-item blink-item"
            data-index="0"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2023-2024
            </p>
            <p class="text-white/70">Obtention du baccalauréat</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              Lycée Gustave Courbet, Belfort
            </p>
          </div>
          <div class="w-0.5 h-8 bg-white mt-2"></div>
          <div
            class="relative mt-2"
            style="width: var(--sq); height: var(--sq);"
          >
            <span
              class="absolute -left-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
          </div>
        </div>

        <!-- Pair B - Right -->
        <div class="flex-1 flex flex-col items-center">
          <div
            class="relative inline-block px-5 py-3 text-center timeline-item blink-item"
            data-index="2"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2025-2026
            </p>
            <p class="text-white/70">Seconde année de BUT MMI (en cours...)</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              BUT MMI, Montbéliard
            </p>
          </div>
          <div class="w-0.5 h-8 bg-white mt-2"></div>
          <div
            class="relative mt-2"
            style="width: var(--sq); height: var(--sq);"
          >
            <span
              class="absolute -left-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
          </div>
        </div>
      </div>

      <!-- BLOCK 2: Main horizontal bar -->
      <div
        class="w-screen relative left-1/2 right-1/2 -mx-[50vw]"
        style="height: var(--bar-h); display: flex; align-items: center; margin-top: calc(-1 * ((var(--bar-h) / 2) + (var(--sq) / 2)));"
      >
        <div class="w-full h-0.5 bg-white"></div>
      </div>

      <!-- BLOCK 3: Last date -->
      <div
        class="w-full flex justify-center"
        style="margin-top: calc(-1 * ((var(--bar-h) / 2) + (var(--sq) / 2)));"
      >
        <div class="flex flex-col items-center">
          <div class="relative" style="width: var(--sq); height: var(--sq);">
            <span
              class="absolute -left-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-1 h-1 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-1 h-1 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
          </div>
          <div class="w-0.5 h-8 bg-white mt-2"></div>
          <div
            class="relative inline-block px-5 py-3 text-center mt-0 timeline-item blink-item"
            data-index="1"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-left-width: var(--border-w); border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: var(--border-w); border-right-width: var(--border-w); border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-left-width: var(--border-w); border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: var(--border-w); border-right-width: var(--border-w); border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2024-2025
            </p>
            <p class="text-white/70">Première année de BUT MMI</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              BUT MMI, Montbéliard
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MOBILE/TABLET TIMELINE (Vertical) -->
<section
  id="timeline-mobile"
  class="lg:hidden w-full py-16 md:py-24 overflow-x-hidden"
>
  <div class="w-full max-w-7xl mx-auto px-4 h-[70dvh] md:ml-32">
    <div class="flex flex-col h-full">
      <!-- Item 1 -->
      <div class="flex-1 flex gap-4 md:gap-6">
        <!-- Left side: vertical line and dot -->
        <div class="flex flex-col items-center h-full justify-end pb-2">
          <div class="w-0.5 flex-1 bg-white"></div>
          <div
            class="relative shrink-0"
            style="width: 16px; height: 16px; border: 2px solid white;"
          >
          </div>
        </div>
        <!-- Right side: content -->
        <div class="flex items-end pb-2">
          <div
            class="relative inline-block px-5 py-3 text-center timeline-item-mobile blink-item-mobile"
            data-index="0"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-left-width: 2px; border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-right-width: 2px; border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-left-width: 2px; border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-right-width: 2px; border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2023-2024
            </p>
            <p class="text-white/70">Obtention du baccalauréat</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              Lycée Gustave Courbet, Belfort
            </p>
          </div>
        </div>
      </div>

      <!-- Item 2 - Section 2/3 -->
      <div class="flex-1 flex gap-4 md:gap-6">
        <!-- Left side: vertical line and dot -->
        <div class="flex flex-col items-center h-full justify-center">
          <div class="w-0.5 flex-1 bg-white"></div>
          <div
            class="relative shrink-0"
            style="width: 16px; height: 16px; border: 2px solid white;"
          >
          </div>
          <div class="w-0.5 flex-1 bg-white"></div>
        </div>
        <!-- Right side: content -->
        <div class="flex items-center">
          <div
            class="relative inline-block px-5 py-3 text-center timeline-item-mobile blink-item-mobile"
            data-index="1"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-left-width: 2px; border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-right-width: 2px; border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-left-width: 2px; border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-right-width: 2px; border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2024-2025
            </p>
            <p class="text-white/70">Première année de BUT MMI</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              BUT MMI, Montbéliard
            </p>
          </div>
        </div>
      </div>

      <!-- Item 3 - Section 3/3 -->
      <div class="flex-1 flex gap-4 md:gap-6">
        <!-- Left side: vertical line and dot -->
        <div class="flex flex-col items-center h-full justify-start pt-2">
          <div
            class="relative shrink-0"
            style="width: 16px; height: 16px; border: 2px solid white;"
          >
          </div>
          <div class="w-0.5 flex-1 bg-white"></div>
        </div>
        <!-- Right side: content -->
        <div class="flex items-start pt-2">
          <div
            class="relative inline-block px-5 py-3 text-center timeline-item-mobile blink-item-mobile"
            data-index="2"
          >
            <span
              class="absolute -left-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-left-width: 2px; border-top-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -top-1 w-3 h-3 border-white"
              style="border-top-width: 2px; border-right-width: 2px; border-top-style: solid; border-right-style: solid;"
            ></span>
            <span
              class="absolute -left-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-left-width: 2px; border-bottom-style: solid; border-left-style: solid;"
            ></span>
            <span
              class="absolute -right-1 -bottom-1 w-3 h-3 border-white"
              style="border-bottom-width: 2px; border-right-width: 2px; border-bottom-style: solid; border-right-style: solid;"
            ></span>
            <p class="bg-white" style="color: var(--color-primary);">
              2025-2026
            </p>
            <p class="text-white/70">Seconde année de BUT MMI (en cours...)</p>
            <p class="text-white/70 flex items-center gap-1">
              <svg
                class="w-4 h-4 inline"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
              BUT MMI, Montbéliard
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    @keyframes blink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
    }

    /* Desktop Timeline Styles */
    .blink-item {
      opacity: 0;
    }

    .blink-item.animate {
      animation: blink 0.25s ease-in-out;
      opacity: 1;
    }

    .blink-item.blink-1 {
      animation-delay: 0s;
    }

    .blink-item.blink-2 {
      animation-delay: 0.25s;
    }

    .blink-item.blink-3 {
      animation-delay: 0.5s;
    }

    .blink-item.blink-4 {
      animation-delay: 0.75s;
    }

    .blink-item.blink-5 {
      animation-delay: 1s;
    }

    .blink-item.blink-6 {
      animation-delay: 1.25s;
    }

    /* Mobile/Tablet Timeline Styles */
    .blink-item-mobile {
      opacity: 0;
    }

    .blink-item-mobile.animate {
      animation: blink 0.25s ease-in-out;
      opacity: 1;
    }
  </style>

  <script>
    // DESKTOP TIMELINE
    const desktopObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const items = entry.target.querySelectorAll(".blink-item");
            // Trier les items par data-index pour garantir l'ordre correct
            const sortedItems = Array.from(items).sort((a, b) => {
              const indexA = parseInt(a.getAttribute("data-index") || "0") || 0;
              const indexB = parseInt(b.getAttribute("data-index") || "0") || 0;
              return indexA - indexB;
            });

            sortedItems.forEach((item, index) => {
              // Délai basé sur l'index: 0s, 0.5s, 1s pour les 3 items
              const delayPerItem = index * 0.5; // 0.5 second between each item start

              // First blink
              setTimeout(() => {
                item.classList.add("animate");
              }, delayPerItem * 1000);

              // Remove first blink and add second blink
              setTimeout(
                () => {
                  item.classList.remove("animate");
                  item.classList.add("animate");
                },
                delayPerItem * 1000 + 250
              );
            });
            desktopObserver.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.3 }
    );

    const timeline = document.querySelector("#timeline");
    if (timeline) {
      desktopObserver.observe(timeline);
    }

    // MOBILE/TABLET TIMELINE
    const mobileObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const items = entry.target.querySelectorAll(".blink-item-mobile");
            // Trier les items par data-index pour garantir l'ordre correct
            const sortedItems = Array.from(items).sort((a, b) => {
              const indexA = parseInt(a.getAttribute("data-index") || "0") || 0;
              const indexB = parseInt(b.getAttribute("data-index") || "0") || 0;
              return indexA - indexB;
            });

            sortedItems.forEach((item, index) => {
              // Délai basé sur l'index: 0s, 0.5s, 1s pour les 3 items
              const delayPerItem = index * 0.5; // 0.5 second between each item start

              // First blink
              setTimeout(() => {
                item.classList.add("animate");
              }, delayPerItem * 1000);

              // Remove first blink and add second blink
              setTimeout(
                () => {
                  item.classList.remove("animate");
                  item.classList.add("animate");
                },
                delayPerItem * 1000 + 250
              );
            });
            mobileObserver.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.3 }
    );

    const timelineMobile = document.querySelector("#timeline-mobile");
    if (timelineMobile) {
      mobileObserver.observe(timelineMobile);
    }
  </script>
</section>
